
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 80px;
    width: 100%;

    padding: 0 12%;
    position: relative;
}




nav .logo span{
    font-size: 30px;
    font-weight: 800;

    color: var(--primary-color);
  }

nav ul li{
    display: inline-block;
    margin: 0 12px;
}

nav ul li a{
    color: white;
}

nav ul li:hover a{
    color: var(--primary-color);
}

nav .navBtns{
    display: flex;
    align-items: center;
    gap: 15px;
}

nav .navBtns .social{
    display: flex;
    gap: 10px;
}

nav .navBtns .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: #0d0d0d;
    border-radius: 50%;
    transition: .6s;
    border: 1px solid var(--primary-color);
    color: #0d0d0d;
    text-decoration: none;
}

nav .navBtns i{
    height: 40px;
    width: 40px;
    background-color: var(--primary-color);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    cursor: pointer;

    transition: .6s;

    border: 1px solid var(--primary-color);
}

nav .navBtns i:hover{
    background-color: transparent;
    color: var(--primary-color);
}

.bars{
    display: none;
}

nav ul li.navItem a {
    font-size: 18px;
    padding: 8px 12px;
    position: relative;
  }
  
  nav ul li.navItem a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    transition: width 0.3s;
  }
  
  nav ul li.navItem a:hover::after {
    width: 100%;
  }

@media screen and (max-width:900px) {
    .bars{
        display: flex;
    }

    nav ul{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        z-index: 999;
        background-color: black;
        transition: 0.6s;
    }

    nav ul li{
        display: block;
        padding: 20px 0;
        padding-left: 12% !important;
        border-bottom: 0.2px solid rgba(131, 131, 131, 0.2);
    }

    nav ul li:first-of-type{
        border-top: 0.2px solid rgba(131, 131, 131, 0.2);
    }

    nav .showMenu{
        left: 0;
    }

    nav ul li.navItem {
        margin: 0;
        padding: 25px 0;
      }
      
      nav ul li.navItem a {
        font-size: 20px;
        padding-left: 12%;
      }
}

@media screen and (max-width:475px) {
    nav .navBtns .social{
        display: none;
    }
}